[data-layout='courseview-style-1'] {
  margin-top: 20px;
}
[data-layout='courseview-style-9'] {
  margin-top: 20px;
}
[data-layout='courseview-style-10'] {
  margin-top: 24px;
}
section.panel {
  margin-top: 0;
}
